/* stylelint-disable declaration-no-important  */
/* The SC question rendering table */
.que.sc table.sc {
    border-top: 0;
    border-bottom: 0;
    border-collapse: collapse;
}

/* In Chrome and IE, the text-indent above is applied to any embedded table
cells or <li>s, which screws up the intended layout. This fixes it again. */
.que.sc table.sc div.r0 label,
.que.sc table.sc div.r1 label,
.que.sc table.sc div.r0 div.specificfeedback,
.que.sc table.sc div.r1 div.specificfeedback {
    text-indent: 0 !important;
}

.que.sc table.sc.generaltable {
    color: inherit;
}

.que.sc table.sc tbody tr {
    border-top: 1px solid rgb(222, 226, 230);
}

.que.sc table.sc tbody tr td {
    border-top: 0 !important;
}

.que.sc table.sc thead tr th {
    border-top: none;
    border-bottom: none;
}

.que.sc table.sc .lastrow {
    background: transparent !important;
}

.que.sc table.sc tbody td.scoptionbutton {
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.que.sc table.sc tbody td.scoptionbutton.correctness {
    padding: 8px;
    line-height: 20px;
    padding-top: 5px;
    margin-top: 0.1em;
}

.que.sc table.sc tbody > tr.highlight {
    background-color: #cff5cc;
}

.que.sc table.sc tbody > tr.highlight > td {
    background-color: #cff5cc;
}

.que.sc table.sc td.c1 {
    width: auto;
}

.que.sc table.sc tbody label.linethrough {
    text-decoration: line-through;
    opacity: 0.3;
}

.que.sc table.sc tbody td.scdistractorbutton {
    width: 3em;
    text-align: right;
}

.que.sc table.sc tbody td.sccorrectness {
    line-height: 1em;
}

.que.sc table.sc span.answernumber {
    margin-right: 0.2em;
}

@supports (display:-ms-grid) {
    .que.sc table.sc tbody .scspecificfeedback {
        word-break: break-all;
    }
}

.que.sc table.sc tbody .scspecificfeedback {
    vertical-align: inherit;
    word-break: break-word;
    overflow-wrap: anywhere;
}

.que.sc table.sc tbody .scspecificfeedback {
    background: #fff3bf !important;
    text-align: left !important;
    display: inline;
}

.que.sc table.sc tbody td.scoptionbutton.correctness {
    padding: 0 0 0 8px;
    margin: unset;
    display: table-cell;
}

.scgreyingout i {
    vertical-align: inherit;
}
.scgreyingout .fa-check-square {
    color: #000;
    opacity: 0.3;
}

.que.sc table.sc tbody .c0 .scgreyingout .text-success,
.que.sc table.sc tbody .c0 .scgreyingout .text-danger {
    color: #898989 !important;
}

.que.sc table.sc tbody .c2 {
    border-left: 1px solid rgba(0, 0, 0, 0.41);
}


.que.sc input[type=radio].optionradio {
    margin: .3rem .5rem;
    width: 14px;
}

.que.sc input[type=radio].optionradio + label {
    cursor: not-allowed;
}

.que.sc input[type=radio].optionradio + label {
    cursor: not-allowed;
}

.que.sc input[type=radio].optionradio.active + label {
    cursor: pointer;
}

.que.sc input[type=radio].optionradio.hidden {
    display: unset;
    opacity: 0;
}

.que.sc input[type=checkbox].distractorcheckbox {
    display: none;
}

.que.sc input[type=checkbox].distractorcheckbox + label {
    padding: 0 3px 0 3px;
    text-decoration: line-through;
    font-family: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f6f7f8;
    border: 1px solid #9f9f9f;
    display: table-cell;
    vertical-align: inherit;
    line-height: 1em;
    user-select: none;
}

.que.sc input[type=checkbox].distractorcheckbox + label:hover {
    cursor: not-allowed;
}

.que.sc input[type=checkbox].distractorcheckbox.active + label:hover {
    background-color: #dedede;
    cursor: pointer;
}

.que.sc input[type=checkbox].distractorcheckbox:checked + label {
    padding: 0 3px 0 3px;
    font-family: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    border: 1px solid #9f9f9f;
    display: table-cell;
    vertical-align: inherit;
    line-height: 1em;
    user-select: none;
}

body#page-question-type-sc div#fitem_id_responsetext_2 div.fitemtitle {
    display: none;
}

body#page-question-type-sc div.optionbox {
    display: block;
    padding-left: 20px;
    background: #eee;
    margin-top: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

body#page-question-type-sc div.optionbox label.optiontitle {
    font-weight: bold;
    margin-bottom: 0;
}

/* Try to fix the default width of the editors (especially in the case of no JavaScript) */
body#page-question-type-sc div.optionbox div.feditor {
    width: 480px;
}

body#page-question-type-sc div.optionbox div.feditor textarea {
    width: 460px !important;
}

body#page-question-type-sc noscript object {
    width: 470px !important;
}

/* Put option text editor to the left */
body#page-question-type-sc div.optiontext {
    float: left;
    width: 80%;
}

/* Put response checkboxes in the middle */
body#page-question-type-sc div.responses {
    float: right;
    width: 100px !important;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5em;
    vertical-align: middle;
    text-align: center;
    border: 0;
    position: relative;
}

@media (max-width: 986px) {
    body#page-question-type-sc div.responses {
        padding-top: 0;
        float: left;
    }
}

body#page-question-type-sc div.responses fieldset.fgroup span {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px 10px 5px;
    margin: 0 0 8px 2px;
    background-color: white;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
}

body#page-question-type-sc div.responses fieldset.fgroup span input {
    vertical-align: bottom;
    position: relative;
    top: -2px;
}

body#page-question-type-sc div.responses fieldset.fgroup span label {
    vertical-align: bottom;
}

body#page-question-type-sc div.responses div.fitem_fgroup {
    text-align: left;
    width: auto;
    border-width: 0 0 0 0;
}

@media (min-width: 1200px) {
    body#page-question-type-sc div.responses div.fitem.fradio {
        margin-left: 0 !important;
    }
    body#page-question-type-sc div.responses .fradio {
        margin-left: 0 !important;
    }
}

body#page-question-type-sc div.responses div.fitem_fradio div.fitemtitle {
    text-align: left;
    float: right;
    width: 0;
}

body#page-question-type-sc div.optiontext div.fitemtitle {
    width: auto;
    padding-left: 0;
    padding-top: 0;
}

body#page-question-type-sc div.feedbacktext {
    width: 80%;
    clear: both;
}

body#page-question-type-sc div.optionbox label.feedbacktitle {
    color: #777;
}

body#page-question-type-sc div.feedbacktext div.fitemtitle {
    width: auto;
    padding-left: 0;
    padding-top: 0;
}

body#page-question-type-sc div.optiontext div.feditor {
    margin-left: 0;
}

body#page-question-type-sc div.feedbacktext div.feditor {
    margin-left: 0;
}

body#page-question-type-sc div[id^=fitem_id_][id*=feedback_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-sc div[id^=fitem_id_][id*=option_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

body#page-question-type-sc div[id^=fitem_id_][id*=option_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-sc div[id^=fitem_id_] .fitemtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 0;
}

body.dir-rtl#page-question-type-sc div[id^=fitem_id_] .fitemtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 6px;
}

body#page-question-type-sc div[id^=fgroup_id_][id*=responses_] {
    background: #eee;
    margin-bottom: 2em;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

body#page-question-type-sc div[id^=fgroup_id_weightsarray] {
    background: #eee;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-top: 0;
}

/* Microsoft Edge */
@supports (display:-ms-grid) {
    body#page-question-type-sc #id_questiontexteditable,
    body#page-question-type-sc #id_generalfeedbackeditable,
    body#page-question-type-sc .optionbox,
    .que.sc .optiontext {
        word-break: break-all;
    }
}

/* Chrome, Opera, Firefox */
body#page-question-type-sc #id_questiontexteditable,
body#page-question-type-sc #id_generalfeedbackeditable,
body#page-question-type-sc .optionbox,
.que.sc .optiontext {
    word-break: break-word;
    overflow-wrap: anywhere;
}

#page-question-type-sc label {
    white-space: nowrap !important;
}
/* stylelint-enable declaration-no-important  */