<section ion-list *ngIf="question.text || question.text === ''" class="qtype-sc">
    <ion-item text-wrap>
        <p>
            <core-format-text [component]="component" [componentId]="componentId" [text]="question.text">
            </core-format-text>
        </p>
        <p *ngIf="question.prompt">
            <core-format-text [component]="component" [componentId]="componentId" [text]="question.prompt">
            </core-format-text>
        </p>
    </ion-item>
    <ng-container>
        <ion-list radio-group [attr.name]="question.optiongroupname" [(ngModel)]="question.optionselected" ngDefaultControl>
            <!-- ion-checkbox doesn't use an input. Create a hidden input to hold the value. -->
            <input item-content type="hidden" [ngModel]="question.optionselected" [attr.name]="question.optiongroupname">
            <ng-container text-wrap *ngFor="let row of question.rows">
                <ion-grid
                    [ngClass]="row.qclass"
                    [attr.number]="row.optionvalue"
                    [hidden]="(row.optionvalue == -1 && question.optionselected == -1) || row.optionvalue == null"
                    [style.background]="togglehighlightrows(row.optionvalue) ? 'rgba(0, 255, 7, 0.21)' : 'transparent'">
                    <ion-row>
                        <ion-col col-11>
                            <ion-item>
                                <ion-radio
                                    [attr.id]="row.optionid"
                                    [attr.name]="question.optiongroupname"
                                    [attr.number]="row.optionvalue"
                                    [value]="row.optionvalue"
                                    [disabled]="row.disabled"
                                    (click)="clickoptionbutton(row.optionvalue)"
                                    item-start>
                                </ion-radio>
                                <ion-label>
                                    <core-format-text
                                        [component]="component"
                                        [componentId]="row.optionid + 'label'"
                                        [text]="row.optiontext"
                                        [style.textDecoration]="row.distractorselected ? 'line-through' : 'initial'">
                                    </core-format-text>
                                    <div *ngIf="row.feedback" class="scspecificfeedback ng-star-inserted">
                                        <core-format-text [text]="row.feedback"></core-format-text>
                                    </div>
                                </ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col col-1>
                            <ion-checkbox
                                *ngIf="row.optionvalue != -1"
                                [(ngModel)]="row.distractorselected"
                                [attr.id]="row.distractorid"
                                [attr.name]="row.distractorname"
                                [attr.number]="row.optionvalue"
                                value="1"
                                [disabled]="row.disabled"
                                (click)="clickdistractor(row.distractorselected, row.optionvalue);"
                                item-end>
                            </ion-checkbox>
                            <!-- ion-checkbox doesn't use an input. Create a hidden input to hold the value. -->
                            <input item-content type="hidden" [ngModel]="row.distractorselected" [attr.name]="row.distractorname">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
        </ion-list>
    </ng-container>
    <div *ngIf="question.scoringmethodlabel && question.scoringmethodhelp" class="scoringmethod">
        <hr>
        <ion-item (click)="scoringmethodhelp=!scoringmethodhelp">
            <ion-icon name="help-circle" item-start></ion-icon>
            <core-format-text [component]="component" [componentId]="componentId" [text]="question.scoringmethodlabel" item-start>
            </core-format-text>
        </ion-item>
        <ion-item *ngIf="scoringmethodhelp">
            <core-format-text [component]="component" [componentId]="componentId" [text]="question.scoringmethodhelp">
            </core-format-text>
        </ion-item>
    </div>
</section>
