<section class="list qtype-sc-container qtype-sc" *ngIf="question.text || question.text === ''" class="qtype-sc">
    <ion-item class="addon-qtype-sc-container qtext ion-text-wrap ">
        <ion-label>
            <p>
                <core-format-text [component]="component" [componentId]="componentId" [text]="question.text"
                [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId">
                </core-format-text>
            </p>
            <p *ngIf="question.prompt">
                <core-format-text [component]="component" [componentId]="componentId" [text]="question.prompt"
                [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId">
                </core-format-text>
            </p>
        </ion-label>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-radio-group [name]="question.optiongroupname" [(ngModel)]="question.optionselected">
                    <ng-container *ngFor="let row of question.rows">
                        <ion-item
                            class="ion-text-wrap {{row.qclass}}"
                            [class.qtype-sc-highlight]="row.highlight"
                            [attr.number]="row.optionvalue"
                            [hidden]="(row.optionvalue == -1 && question.optionselected == -1) || row.optionvalue == null">
                            <ion-radio
                                [id]="row.optionid"
                                [attr.number]="row.optionvalue"
                                [value]="row.optionvalue"
                                [disabled]="row.disabled"
                                (click)="clickoptionbutton(row.optionvalue)"
                                labelPlacement="end"
                                justify="start">
                                <div class="addon-qtype-sc-container qtext ion-text-wrap">
                                    <core-format-text
                                        [component]="component"
                                        [componentId]="row.optionid + 'label'"
                                        [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId"
                                        [text]="row.optiontext"
                                        [style.textDecoration]="row.distractorselected ? 'line-through' : 'initial'">
                                    </core-format-text>
                                    <div *ngIf="row.feedback" class="scspecificfeedback ng-star-inserted">
                                        <core-format-text  [component]="component" [componentId]="componentId"
                                    [contextLevel]="contextLevel" [contextInstanceId]="contextInstanceId" [courseId]="courseId" [text]="row.feedback"></core-format-text>
                                    </div>
                                </div>
                            </ion-radio>
                        </ion-item>
                    </ng-container>
                </ion-radio-group>
            </ion-col>
            <ion-col size="auto">
                <ng-container *ngFor="let row of question.rows">
                    <ion-item
                        lines="none"
                        class="ion-no-padding {{row.qclass}}"
                        [attr.number]="row.optionvalue"
                        [hidden]="(row.optionvalue == -1 && question.optionselected == -1) || row.optionvalue == null">
                        <ion-checkbox
                            part="container"
                            *ngIf="row.optionvalue != -1"
                            [(ngModel)]="row.distractorselected"
                            [id]="row.distractorid"
                            [name]="row.distractorname"
                            [attr.number]="row.optionvalue"
                            [value]="1"
                            [disabled]="row.disabled"
                            (ionChange)="clickdistractor(row.distractorselected, row.optionvalue);">
                        </ion-checkbox>
                    </ion-item>
                </ng-container>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div *ngIf="question.scoringmethodlabel && question.scoringmethodhelp" class="scoringmethod">
        <hr>
        <ion-item (click)="scoringmethodhelp=!scoringmethodhelp" class="ion-text-wrap">
            <ion-icon name="far-question-circle" aria-hidden="true" slot="start"></ion-icon>
            <ion-label  class="addon-qtype-sc-container qtext ion-text-wrap ">
                <core-format-text [component]="component" [componentId]="componentId" [text]="question.scoringmethodlabel">
                </core-format-text>
            </ion-label>
        </ion-item>
        <ion-item *ngIf="scoringmethodhelp" class="ion-text-wrap">
            <ion-label>
                <core-format-text [component]="component" [componentId]="componentId" [text]="question.scoringmethodhelp">
                </core-format-text>
            </ion-label>
        </ion-item>
    </div>
</section>
