/* stylelint-disable declaration-no-important  */
.qtype-sc .item-md {
    background-color: unset !important;
}

.qtype-sc .item-radio-checked {
    background-color: unset !important;
}

.qtype-sc .checkbox .checkbox-icon {
    width: unset;
    height: unset;
}

.qtype-sc .checkbox .checkbox-inner {
    top: unset;
    border-width: unset;
    border-top-width: unset;
    border-left-width: unset;
    border-style: unset;
    border-color: unset;
    -webkit-transform: unset;
    transform: unset;
    width: min-content;
    height: min-content;
    position: relative;
    left: 0;
    padding: 0 5px;
}

.qtype-sc .checkbox .checkbox-checked .checkbox-inner {
    left: 0;
}

.qtype-sc .checkbox .checkbox-icon .checkbox-inner:after {
    position: relative;
    left: 0;
    content: "S";
    text-decoration: line-through;
    color: #fff;
}

.checkbox .checkbox-icon:not(.checkbox-checked) {
    border-color: #a7a7a7;
    background-color: #a7a7a7;
}

.qtype-sc .scoringmethod {
    cursor: pointer;
}

.qtype-sc .scspecificfeedback {
    background: #fff3bf !important;
    color: #64450a;
    display: inline;
}

.qtype-sc .qtype-sc-highlight {
    --background: rgba(0, 255, 7, 0.21);
}
/* stylelint-enable declaration-no-important  */
