.qtype-sc .item-md {
    background-color: unset !important;
}

.qtype-sc .item-radio-checked {
    background-color: unset !important;
}

.qtype-sc .checkbox .checkbox-inner {
    top: unset;
    border-width: unset;
    border-top-width: unset;
    border-left-width: unset;
    border-style: unset;
    border-color: unset;
    -webkit-transform: unset;
    transform: unset;
    width: 5px;
    height: 10px;
    position: relative;
    left: 4px;
}

.qtype-sc .checkbox .checkbox-icon .checkbox-inner:after {
    content: '';
    height: 12px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(45deg);
    left: 1px;
}

.qtype-sc .checkbox .checkbox-icon .checkbox-inner:before {
    content: '';
    height: 12px;
    border-left: 2px solid #fff;
    position: absolute;
    transform: rotate(-45deg);
    left: 1px;
}

.checkbox .checkbox-icon:not(.checkbox-checked) {
    border-color: #a7a7a7;
    background-color: #a7a7a7;
}

.qtype-sc .scoringmethod {
    cursor: pointer;
}

.qtype-sc .scspecificfeedback {
    background: #FFF3BF !important;
    color: #64450a;
    display: inline;
}